<br>
<p-card>
  <div class="row">
    <div class="col-md-11">
      <h4 style="text-align: start; "> {{nombre}} - {{correo}}</h4>
    </div>
    <div class="col-md-1">
      <button class="btn btn-danger" (click)="logout()">SALIR</button>
    </div>
  </div>
</p-card>
<br>
<div class="contenedor-menu">
  <div class="row menu">
    <div class="col-md-1 celda-imagen">
      <img src="../../../assets/imagenes/logo-temperatura.png" alt="logo_temperatura" class="logo-temperatura">
    </div>
    <div class="col-md-10 ">
      <div class="row">
        <div class="col-md-2 celda-boton"></div>
        <div class="col-md-3 celda-boton">
          <button type="button" class="btn btn-primary btn-agregar-lugar" style="width: 100%" (click)="mostrarPaginaLugares()">LUGARES</button>
        </div>
        <div class="col-md-2 celda-boton"></div>
        <div class="col-md-3 celda-boton">
          <button type="button" class="btn btn-primary btn-ver-temperatura" style="width: 100%" (click)="mostrarPaginaTemperaturas()">TEMPERATURA</button>
        </div>
        <div class="col-md-2 celda-boton"></div>
      </div>
    </div>
    <div class="col-md-1 celda-imagen">
      <img src="../../../assets/imagenes/logo-temperatura.png" alt="logo_temperatura" class="logo-temperatura">
    </div>
  </div>
</div>
<router-outlet></router-outlet>
