/* You can add global styles to this file, and also import other style files */

 h1{
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
 }
h4{
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
 .carousel{
    margin-left: 210px;
    width: 1000px;
 }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.ng-invalid.ng-dirty.ng-touched{
  border-color: red;
}
.ng-dirty.ng-touched.ng-valid{
  border-color: green;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
