<h1>LUGARES</h1>

<div class="row">
    <div class="col-md-6">
        <button type="button" class="btn btn-success btn-inicio" [hidden]="mostrar" (click)="mostrarRegistroLugar(true)"> Agregar Nuevo Lugar</button>
    </div>
</div>

<div class="tabla" [hidden]="mostrar">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">IDENTIFICADOR</th>
              <th scope="col">NOMBRE DEL LUGAR</th>
              <th scope="col">COLOR</th>
              <th scope="col">ACCIÓN</th>
            </tr>
          </thead>
          <!--USAR EL NGFOR RECIBIENDO COMO PARAMETRO DEL GET EL ARREGLO DE LUGARES, PASAR POR LOS SERVICIOS-->
          <tbody>
            <tr [hidden]="esconder" *ngFor="let lugar of arregloLugares">
              <th scope="row">{{lugar.identificador}}</th>
              <td>{{lugar.nombreLugar}}</td>
              <td>{{lugar.color}}</td>
              <td>
                <button type="button" class="btn btn-primary" (click)="eliminarLugar(lugar.id)">ELIMINAR</button>
              </td>
            </tr>    
          </tbody>
        </table>
      </div>

      <div class="formulario-lugar" [hidden]="!mostrar">
        <div class="row formulario-login-row">
          <div class="col-md-3"></div>
          <div class="col-md-6 formulario-login">
              <form  
              #formularioLugar = "ngForm" 
              (submit)="anadirLugar(formularioLugar)"> 
                  <div class="form-group">
                    <label for="identificadorLugar">IDENTIFICADOR:</label>
                    <input id="identificadorLugar" required type="text" name="identificadorlugar" class="form-control"  placeholder="LOO1" [(ngModel)]="identificadorLugar">
                    
                    <label for="nombreLugar">NOMBRE DEL LUGAR:</label>
                    <input id="nombreLugar" required type="text" name="nombrelugar" class="form-control"  placeholder="Ingrese Nombre del Lugar" [(ngModel)]="nombreLugar">
    
                    <label for="color">COLOR:</label>
                    <br>
                    <select name="color" [(ngModel)]="seleccionarValor">
                      <option [ngValue]="rojo" value="Rojo">Rojo</option>
                      <option  [ngValue]="verde" value="Verde">Verde</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary"  (click)="mostrarPaginaLugar(false)"
                  [disabled]="formularioLugar.invalid">AÑADIR</button>
                </form>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>