<br>
<p-card>
  <div class="row">
    <div class="col-md-11">
      <h4 style="text-align: start; "> {{nombre}} - {{correo}}</h4>
    </div>
    <div class="col-md-1">
      <button class="btn btn-danger" (click)="logout()">SALIR</button>
    </div>
  </div>
</p-card>

<br>
<div class="row">
  <div class="col-md-1 celda-imagen">
    <img src="../../../assets/imagenes/logo-temperatura.png" alt="logo_temperatura" class="logo-temperatura">
  </div>
  <div class="col-md-10">
    <h1>LUGARES</h1>
  </div>
  <div class="col-md-1 celda-imagen">
    <img src="../../../assets/imagenes/logo-temperatura.png" alt="logo_temperatura" class="logo-temperatura">
  </div>
</div>



  <span class="ui-float-label">
  <input id="float-input"
         size="30"
         type="text"
         name="fecha"
         [(ngModel)]="busquedaNombre"
         pInputText
         style="height: 40px">
  <label for="float-input"></label>
  <button class="btn btn-primary" (click)="buscarPorNombre()">Buscar</button>
  </span>

  <br>
  <button class="btn btn-success" (click)="abrirLugar()">Añadir nuevo lugar</button>
  <br>

  <p-table [value]="arregloLugares"
           [paginator]="true"
           [rows]=3>
    <ng-template pTemplate="caption">
      Lista de lugares de {{nombre}}
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Identificador</th>
        <th>Nombre del Lugar</th>
        <th>Estado ventilador</th>
        <th>Sensor</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-lugar>
      <tr>
        <td>{{lugar.identificador}}</td>
        <td>{{lugar.nombreLugar}}</td>
        <td>{{lugar.color}}</td>
        <td>{{lugar.fkSensor.serie}}</td>
        <td>
          <button type="button" class="btn btn-success" (click)="verGrafica(lugar)" style="width: 50%">Ver gráfica</button>
          <button type="button" class="btn btn-danger" (click)="eliminarLugar(lugar.id, lugar.numeroLed)" style="width: 50%">Desconectar</button>
        </td>
      </tr>
    </ng-template>
  </p-table>



