<h1>LOGIN</h1>
<div class="row formulario-login-row">
  <div class="col-md-4"></div>
  <div class="col-md-4 formulario-login">
      <form  
      #formularioLogin = "ngForm" 
      novalidate
      (submit)="login(formularioLogin)"> 
          <div class="form-group">
            <label for="nombreUsuario">Nombre Usuario</label>
            <input id="nombreUsuario" type="text" name="nombreusuario" class="form-control"  placeholder="Ingrese Nombre" [(ngModel)]="nombreUsuario">
            <label for="passwordUsuario">Password Usuario</label>
            <input id="passwordUsuario" type="password" name="passwordusuario" class="form-control"  placeholder="Ingrese Password" [(ngModel)]="passwordUsuario" #password>
            <small id="mensaje" class="form-text text-muted">Hola, Bienvenido a GreenTemp</small>
          </div>
          <button type="submit" class="btn btn-danger"
          [disabled] = "!password.value"
          >ENTRAR</button>
        </form>
        <button type="button" class="btn btn-success" (click)="registrarse()"
        >REGISTRARSE</button>
  </div>
  <div class="col-md-4"></div>
</div>